body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.looper {
    display: flex;
    position: relative;
    width: 108px;
    height: 108px;
}

.looper div {
    animation: looper_roller 1.5s infinite;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    transform-origin: 54px 54px;
}

.looper div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}

.looper div:nth-child(1) {
    animation-delay: 0.00s;
}

.looper div:nth-child(1):after {
    top: 100px;
    left: 50px;
}

.looper div:nth-child(2) {
    animation-delay: -0.03s;
}

.looper div:nth-child(2):after {
    top: 96px;
    left: 69px;
}

.looper div:nth-child(3) {
    animation-delay: -0.07s;
}

.looper div:nth-child(3):after {
    top: 85px;
    left: 85px;
}

.looper div:nth-child(4) {
    animation-delay: -0.10s;
}

.looper div:nth-child(4):after {
    top: 69px;
    left: 96px;
}

.looper div:nth-child(5) {
    animation-delay: -0.14s;
}

.looper div:nth-child(5):after {
    top: 50px;
    left: 100px;
}

.looper div:nth-child(6) {
    animation-delay: -0.17s;
}

.looper div:nth-child(6):after {
    top: 31px;
    left: 96px;
}

.looper div:nth-child(7) {
    animation-delay: -0.20s;
}

.looper div:nth-child(7):after {
    top: 15px;
    left: 85px;
}

.looper div:nth-child(8) {
    animation-delay: -0.24s;
}

.looper div:nth-child(8):after {
    top: 4px;
    left: 69px;
}

.looper div:nth-child(9) {
    animation-delay: -0.27s;
}

.looper div:nth-child(9):after {
    top: 0px;
    left: 50px;
}

.looper div:nth-child(10) {
    animation-delay: -0.30s;
}

.looper div:nth-child(10):after {
    top: 4px;
    left: 31px;
}

.looper div:nth-child(11) {
    animation-delay: -0.34s;
}

.looper div:nth-child(11):after {
    top: 15px;
    left: 15px;
}

.looper div:nth-child(12) {
    animation-delay: -0.37s;
}

.looper div:nth-child(12):after {
    top: 31px;
    left: 4px;
}

.looper div:nth-child(13) {
    animation-delay: -0.41s;
}

.looper div:nth-child(13):after {
    top: 50px;
    left: 0px;
}

.looper div:nth-child(14) {
    animation-delay: -0.44s;
}

.looper div:nth-child(14):after {
    top: 69px;
    left: 4px;
}

.looper div:nth-child(15) {
    animation-delay: -0.47s;
}

.looper div:nth-child(15):after {
    top: 85px;
    left: 15px;
}

.looper div:nth-child(16) {
    animation-delay: -0.51s;
}

.looper div:nth-child(16):after {
    top: 96px;
    left: 31px;
}

@keyframes looper_roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}