.looper {
    display: flex;
    position: relative;
    width: 408px;
    height: 408px;
}

.looper div {
    animation: looper_roller 1.49s infinite;
    animation-timing-function: cubic-bezier(0.50, 0.00, 0.50, 1.00);
    transform-origin: 204px 204px;
}

.looper div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}

.looper div:nth-child(1) {
    animation-delay: 0.00s;
}

.looper div:nth-child(1):after {
    top: 300px;
    left: 200px;
}


.looper div:nth-child(2) {
    animation-delay: -0.02s;
}

.looper div:nth-child(2):after {
    top: 287px;
    left: 250px;
}


.looper div:nth-child(3) {
    animation-delay: -0.05s;
}

.looper div:nth-child(3):after {
    top: 250px;
    left: 287px;
}


.looper div:nth-child(4) {
    animation-delay: -0.07s;
}

.looper div:nth-child(4):after {
    top: 200px;
    left: 300px;
}


.looper div:nth-child(5) {
    animation-delay: -0.10s;
}

.looper div:nth-child(5):after {
    top: 150px;
    left: 287px;
}


.looper div:nth-child(6) {
    animation-delay: -0.12s;
}

.looper div:nth-child(6):after {
    top: 113px;
    left: 250px;
}


.looper div:nth-child(7) {
    animation-delay: -0.15s;
}

.looper div:nth-child(7):after {
    top: 100px;
    left: 200px;
}


.looper div:nth-child(8) {
    animation-delay: -0.17s;
}

.looper div:nth-child(8):after {
    top: 113px;
    left: 150px;
}


.looper div:nth-child(9) {
    animation-delay: -0.20s;
}

.looper div:nth-child(9):after {
    top: 150px;
    left: 113px;
}


.looper div:nth-child(10) {
    animation-delay: -0.22s;
}

.looper div:nth-child(10):after {
    top: 200px;
    left: 100px;
}


.looper div:nth-child(11) {
    animation-delay: -0.25s;
}

.looper div:nth-child(11):after {
    top: 250px;
    left: 113px;
}


.looper div:nth-child(12) {
    animation-delay: -0.27s;
}

.looper div:nth-child(12):after {
    top: 287px;
    left: 150px;
}

@keyframes looper_roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}